# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Django stuff
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
*.sqlite3

# Environment variables
.env

# VS Code / IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows files
Thumbs.db
